# Ignore all datasets
dataset/
**/dataset/
**/dataset_*/
*.zip
garbage-data.zip
EI_Upload/
TACO-master/
runs/detect/modele_dechets_medium_combined_v1/

# Jupyter checkpoints
.ipynb_checkpoints/
merged_yolo_dataset/test/images/*
.env
/wandb/*